.pagination {
  position: fixed;
  display: flex;
  padding: 10px;
  flex-direction: column;
  bottom: 0px;
  height: 45px;
  background-color: #563d7c;
  color: white;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  width: 100%;

  .page-field {
    display: inline-block;
    border: 0.5px solid white;
    border-radius: 3px;
    margin-left: 10px;
    padding: 0px 5px;
    min-width: 15px;

    &.clickable {
      cursor: pointer;

      span:hover {
        text-decoration: underline;
      }
    }

    &.current {
      border: 0.5px solid orange;
    }
  }
}
